img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

header {
    text-align: center;
    font-size: 48;
    font-family: sans-serif;
    background-color: green;
}

body {
    background-color: rgb(255, 255, 255);
}

p {
    text-align: center;
    padding: 10px;
    font-size: 18pt;
    font-family: sans-serif;
    margin-right: 180px;
    margin-left: 180px;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: blue;
}